# Ignore bundler config
/.bundle

/db/*.sqlite3
/db/schema.*
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/*

.sass-cache
.rvmrc
.ruby-version
.ruby-gemset
.DS_Store
.idea
.autotest
.project
*.sublime-*

# Ignore Coverage
/coverage/*

# Ignore images uploads
/public/uploads/*

# Ignore private images uploads
/uploads/*
