.row
  .content_wrapper
    = render 'pages/sidebar'
    .large-10.columns
      .copyrightpage
        %h2 Copyright
        %section
          %h3 Vestibulum ante ipsum
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget purus nec lectus viverra ornare. Suspendisse lacus leo, iaculis vel adipiscing vulputate, fermentum sed nisi. Ut viverra nisi id sollicitudin posuere. Quisque vel semper arcu. Donec lorem leo, convallis vitae lorem in, consequat mattis purus. Duis non tempor quam, at dignissim ante. Aliquam pretium porta lacus id bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sapien nisi, euismod non ipsum sed, vulputate porttitor ipsum. In sed justo neque. Quisque elementum gravida metus, ut euismod mi tempus fermentum.
        %section
          %h3 Aliquam Pretium Porta
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget purus nec lectus viverra ornare. Suspendisse lacus leo, iaculis vel adipiscing vulputate, fermentum sed nisi. Ut viverra nisi id sollicitudin posuere. Quisque vel semper arcu.
            %br/
            %br/
            Donec lorem leo, convallis vitae lorem in, consequat mattis purus. Duis non tempor quam, at dignissim ante. Aliquam pretium porta lacus id bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sapien nisi, euismod non ipsum sed, vulputate porttitor ipsum. In sed justo neque. Quisque elementum gravida metus, ut euismod mi tempus fermentum.
        %section
          %h3 Quisque elementum gravida metus,
          %p Donec lorem leo, convallis vitae lorem in, consequat mattis purus. Duis non tempor quam, at dignissim ante. Aliquam pretium porta lacus id bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sapien nisi, euismod non ipsum sed, vulputate porttitor ipsum. In sed justo neque. Quisque elementum gravida metus, ut euismod mi tempus fermentum.
        %section
          %h3 Vestibulum ante ipsum
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget purus nec lectus viverra ornare. Suspendisse lacus leo, iaculis vel adipiscing vulputate, fermentum sed nisi. Ut viverra nisi id sollicitudin posuere. Quisque vel semper arcu. Donec lorem leo, convallis vitae lorem in, consequat mattis purus. Duis non tempor quam, at dignissim ante. Aliquam pretium porta lacus id bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sapien nisi, euismod non ipsum sed, vulputate porttitor ipsum. In sed justo neque. Quisque elementum gravida metus, ut euismod mi tempus fermentum.