.row
  .content_wrapper
    = render 'pages/sidebar'
    .large-10.columns
      #example-one.jobs-sec
        %ul.nav
          %li
            = link_to 'Full time', page_path('jobs/full-time'), class: 'current'
          %li
            = link_to 'Part time', page_path('jobs/part-time')
        .list-wrap
          #fulltime
            .fulltime
              %section
                %h2
                  Account Manager
                  %span (find out more from consultant)
                %h3 Manage Individual Sellers Accounts
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis dolor in diam molestie, ut accumsan sapien commodo. Curabitur dolor urna, sodales a iaculis ut, condimentum ac nunc. Suspendisse sagittis pellentesque lorem sit amet rhoncus. Maecenas fermentum pretium tristique. Praesent pretium facilisis dui ac vulputate. Ut ultricies gravida purus ut cursus. Sed vitae lorem ac diam ultrices sagittis.
              %section
                %h2
                  Accountant
                  %span (find out more from consultant)
                %h3 Billing Arrangements
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis dolor in diam molestie, ut accumsan sapien commodo. Curabitur dolor urna, sodales a iaculis ut, condimentum ac nunc. Suspendisse sagittis pellentesque lorem sit amet rhoncus. Maecenas fermentum pretium tristique. Praesent pretium facilisis dui ac vulputate. Ut ultricies gravida purus ut cursus. Sed vitae lorem ac diam ultrices sagittis.
          #parttime.hide
            .parttime
              %section
                %h2 Indie Fashion Recruiter
                %h3 Find Emerging Indie Fashion Designs Around The Globe
                %p Mettle Me is looking for a talented recruiter to help us find the very best emerging indie designs out there. If you combine a passion for art, creativity, and an eye for quality products, we offer the opportunity to work with us. You will be responsible for sourcing, evaluating, and closing candidates, and for guiding them through our seller guidelines and connecting them to Mettle Me to create a store.
                %h4 Responsibilities:
                %ul
                  %li Create a personal connection for a designer and offer them to register with Mettle Me
                  %li Actively search through referrals, networking, internal databases, and research
                  %li Manage the full recruiting cycle process (through onboarding) for each department to ensure a smooth and enjoyable candidate experience
                  %li Innovate on ways to build a talent pipeline and recruit in a variety of venues
                %h4 Requirements:
                %ul
                  %li Detail-oriented multi-tasker with outstanding interpersonal, written, and verbal communication skills
                  %li 2 years HR experience in recruiting-related, administrative or client-facing work; in-house recruitment experience a big plus
                  %li Self-starter capable of finding great talent in surprising places
                  %li Comfortable working at all levels of an organization
                  %li Strong communication skills, with an emphasis on tact and diplomacy
                  %li Broad understanding of the latest fashion trends, popular personalities and blogs
                  %li Passionate about art, design, and creativity
                .apply-job
                  Apply for this job —
                  %a{href: "#"} job@mettleme.com
              %section
                %h2 Social Media Intern
                %p We are looking for 3 for Social Media Interns to help manage our social media presence across Facebook, Twitter, Pinterest, and our Blog. This is an unpaid internship.
                %h4 Responsibilities:
                %ul
                  %li Engaging directly with fans/followers to keep their relationship with Mettle Me going strong
                  %li Brainstorm new ways of communicating on social platforms to improve on our daily results
                  %li Flawlessly execute experiments and analyze results to see what works
                  %li Identifying and building relationships with key influencers
                  %li Distributing Mettle Me content on social channels with several target audiences
                  %li Keeping track of "the conversation" and responding when necessary
                  %li Building our fan base
                  %li Tracking performance of post/tweet activity and reporting on results
                  %li Monitoring social areas for content ideas
                  %li Uploading the latest News to Our blog and filtering out through all social media
                %p We will require a commitment of Monday through Friday for this part-time opportunity for 20 hours.
                .apply-job
                  Apply for this job —
                  %a{href: "#"} job@mettleme.com