@charset "utf-8";
/* CSS Document */
*:focus{ outline:none;}
.selectbox{ position:relative;}
	.selectbox *{ margin:0px; padding:0px; outline:none; border:none; text-decoration:none;}
	.selectbox fieldset:after{ content:''; position:absolute; right:0px; top:0px; width:30px; height:30px; display:block; z-index:99; background:url(../images/sel_arrow.png) center center no-repeat; cursor:pointer;}
	.selectbox .apply{ position:relative; display:block; float:left;font-family: 'avenir_roman'; font-size:13px; letter-spacing:1px; text-transform:uppercase; text-align:center; width:80px; height:28px; line-height:28px; color:#fff; background:#222; margin-right:10px; border:1px solid #222;}
		.selectbox .apply:hover{ background:#e2363b; border-color:#e2363b;}
	.selectbox .clear{ position:relative; display:block; float:left;font-family: 'avenir_roman'; font-size:13px; letter-spacing:1px; text-transform:uppercase; text-align:center; width:80px; height:28px; line-height:28px; color:#222; background:#fff; margin-right:10px; border:1px solid #ddd;}
		.selectbox .clear:hover{ border-color:#222;}
	.selectbox fieldset:hover{ border-color:#bbb;}
	
	.sel_gender{ position:relative; width:130px; height:30px;}
	.sel_gender fieldset{ position:relative; width:130px; height:30px; border:1px solid #ddd; padding:0px;}
		.sel_gender fieldset.active input[type="text"]{ background:#ddd;}
		.sel_gender fieldset input{ position:relative; display:block; width:110px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman'; font-size:13px; cursor:pointer; text-transform:uppercase;}	
	.sel_gender ul{ position:absolute; top:32px; left:0px; width:130px; border:1px solid #ddd; background:#fff; border-top:none; display:none; z-index:9999;}
	.sel_gender ul li{ position:relative; line-height:20px; padding:5px 10px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}
		.sel_gender ul li:hover{ color:#fff; background:#222;}
	
	.price{ position:relative; width:266px; height:30px;}
	.price fieldset{ position:relative; width:266px; height:30px; border:1px solid #ddd; padding:0px;}
		.price fieldset.active input[type="text"]{ background:#ddd;}
		.price fieldset input{ position:relative; display:block; width:246px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.price ul{ position:absolute; top:32px; left:0px; width:266px; border:1px solid #ddd; background:#fff; border-top:none; display:none; z-index:9999;}
	.price ul li{ position:relative; line-height:20px; padding:5px 10px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}
		.price ul li:hover{ color:#fff; background:#222;}
	
	.popular{ position:relative; width:266px; height:30px;}
	.popular fieldset{ position:relative; width:266px; height:30px; border:1px solid #ddd; padding:0px;}
		.popular fieldset.active input[type="text"]{ background:#ddd;}
		.popular fieldset input{ position:relative; display:block; width:246px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.popular ul{ position:absolute; top:32px; left:0px; width:266px; border:1px solid #ddd; background:#fff; border-top:none; display:none; z-index:9999;}
	.popular ul li{ position:relative; line-height:20px; padding:5px 10px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}
		.popular ul li:hover{ color:#fff; background:#222;}

.prod_type{ position:relative; width:266px; height:30px;}
	.prod_type fieldset{ position:relative; width:266px; height:30px; border:1px solid #ddd; padding:0px;}
		.prod_type fieldset.active input[type="text"]{ background:#ddd;}
		.prod_type fieldset input{ position:relative; display:block; width:246px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.prod_type ul{ position:absolute; top:32px; left:0px; width:440px; padding:20px; border:1px solid #ddd; background:#fff; z-index:9999; display:none;}
	.prod_type ul li{ position:relative; height:20px; line-height:20px; width:33%; float:left; padding:5px 0px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase;}
.selectbox input[type="checkbox"] {
	display:none;
}
.selectbox input[type="checkbox"] + label{ cursor:pointer; display:block;}
.selectbox input[type="checkbox"] + label span {
	display:inline-block;
	width:15px;
	height:15px;
	margin:-4px 4px 0 0;
	vertical-align:middle;
	background:url(../images/formattributes/check_3.png) left top no-repeat;
	cursor:pointer;
}
.selectbox input[type="checkbox"]:checked + label span {
	background:url(../images/formattributes/check_3.png) left -17px no-repeat;
}
.selectbox input[type="checkbox"]:checked + label{ color:#e2363b;}


.designers{ position:relative; width:266px; height:30px;}
	.designers fieldset{ position:relative; width:266px; height:30px; border:1px solid #ddd; padding:0px;}
		.designers fieldset.active input[type="text"]{ background:#ddd;}
		.designers fieldset input{ position:relative; display:block; width:246px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.designers ul{ position:absolute; top:32px; left:0px; width:510px; height:290px; padding:20px 15px 20px 20px; border:1px solid #ddd; background:#fff; z-index:9999; display:none;}
	.designers ul li{ position:relative; height:20px; line-height:20px; width:33%; float:left; padding:5px 0px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase;}
		.designers .des_inner{ position:relative; height:240px !important; width:510px; overflow:auto;}
	.designers .jspTrack{ background:none;}
		.designers .jspTrack .jspDrag{ position:relative; left:-2px; width:4px; background:#ddd; border-radius:3px;}
			.designers .jspVerticalBar{ background:none;}

.color{ position:relative; width:66px; height:30px;}
	.color h3{ position:relative; font-size:13px; margin-bottom:15px; text-transform:uppercase; font-weight:normal; font-family: 'avenir_roman';}
	.color fieldset{ position:relative; width:66px; height:30px; border:1px solid #ddd; padding:0px;}
		.color fieldset.active input[type="text"]{ background-color:#ddd !important;}
		.color fieldset input{ position:relative; display:block; width:46px; height:20px; padding:5px 10px; background:#fff url(../images/sel_col_icon.png) 6px center no-repeat; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.color ul{ position:absolute; top:32px; right:-2px; width:440px; padding:20px; border:1px solid #ddd; background:#fff; z-index:9999; display:none;}
	.color ul li{ position:relative; height:25px; line-height:25px; width:33%; float:left; padding:5px 0px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:capitalize;}
		.color ul li span.col{ position:absolute; display:block; width:23px; height:23px; border:1px solid #fff;}
			.color ul li span.col:after{ content:''; position:absolute; left:0px; top:0px; display:block; width:21px; height:21px; border:1px solid #fff;}
		.color ul li span.col.blue{ background:#00a8e1;}
		.color ul li span.col.orange{ background:#f4681b;}
		.color ul li span.col.white{ background:#ffffff; width:19px; height:19px; border:1px solid #ddd; left:2px; top:7px;}
		.color ul li span.col.indigo{ background:#305ca5;}
		.color ul li span.col.yellow{ background:#f9b508;}
		.color ul li span.col.grey{ background:#cccccc;}
		.color ul li span.col.violet{ background:#662999;}
		.color ul li span.col.light_green{ background:#c8cc39;}
		.color ul li span.col.titanium{ background:#909090;}
		.color ul li span.col.purple{ background:#c31d69;}
		.color ul li span.col.green{ background:#85b044;}
		.color ul li span.col.black{ background:#000000;}
		.color ul li span.col.red{ background:#eb3333;}
		.color ul li span.col.emerald{ background:#4fa697;}
		.color ul li span.col.p_pink{ background:#e6c9bb;}
			
	.color input[type="checkbox"] + label{ cursor:pointer; display:block;}
.color input[type="checkbox"] + label span { position:relative; display:inline-block; width:25px;height:25px;margin:-4px 10px 0 0;vertical-align:middle;background:url(../images/formattributes/check_4.png) left top no-repeat;cursor:pointer;}
	.color input[type="checkbox"]:checked + label span {background:url(../images/formattributes/check_4.png) left bottom no-repeat;}
	.color input[type="checkbox"]:checked + label{ color:#000;}
.color .white input[type="checkbox"] + label span { position:relative; display:inline-block; width:25px;height:25px;margin:-4px 10px 0 0;vertical-align:middle;background:url(../images/formattributes/check_5.png) left top no-repeat;cursor:pointer;}
	.color .white input[type="checkbox"]:checked + label span {background:url(../images/formattributes/check_5.png) left bottom no-repeat;}

.location{ position:relative; width:266px; height:30px;}
	.location fieldset{ position:relative; width:266px; height:30px; border:1px solid #ddd; padding:0px;}
		.location fieldset.active input[type="text"]{ background:#ddd;}
		.location fieldset input{ position:relative; display:block; width:246px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.location ul{ position:absolute; top:32px; left:0px; width:440px; padding:20px; border:1px solid #ddd; background:#fff; z-index:9999; display:none;}
	.location ul li{ position:relative; height:20px; line-height:20px; width:33%; float:left; padding:5px 0px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase;}
	
.style{ position:relative; width:266px; height:30px;}
	.style fieldset{ position:relative; width:266px; height:30px; border:1px solid #ddd; padding:0px;}
		.style fieldset.active input[type="text"]{ background:#ddd;}
		.style fieldset input{ position:relative; display:block; width:246px; height:20px; padding:5px 10px; color:#222222;font-family: 'avenir_roman';font-size:13px; cursor:pointer; text-transform:uppercase;}
	.style ul{ position:absolute; top:32px; right:-2px; width:440px; padding:20px; border:1px solid #ddd; background:#fff; z-index:9999; display:none;}
	.style ul li{ position:relative; height:20px; line-height:20px; width:33%; float:left; padding:5px 0px;font-family: 'avenir_roman'; font-size:13px; color:#222; cursor:pointer; text-transform:uppercase;}

.filters_container{ position:relative; width:1190px; margin:20px auto; height:32px;}
	.filters_container .selectbox{ position:relative; float:left; margin-right:8px;}
	.filters_container .clear_filters{ position:relative; display:block; float:left;font-family: 'avenir_roman'; font-size:13px; text-decoration:none; letter-spacing:1px; text-transform:uppercase; text-align:center; width:70px; padding-left:20px; height:30px; line-height:30px; color:#222; background:#fff url(../images/clear_icon.png) 10px center no-repeat; border:1px solid #ddd;}
		.filters_container .clear_filters:hover{ border-color:#222;}

.filters_container.shop .selectbox{ margin-right:12px;}
.filters_container .price_range{ position:relative; float:left; width:270px; padding:0px 20px; height:32px; margin-right:10px;font-family: 'avenir_roman'; font-size:13px; line-height:32px;}
	.filters_container .price_range .pricerange{ position:absolute; left:60px; top:1px;font-family: 'avenir_roman'; font-size:13px; width:100px; height:20px; padding:5px 0px;}
	.filters_container .price_range #slider-range{ width:150px; float:right; margin-top:15px;}
	.filters_container .price_range .ui-widget-header{ background:#222;}
	.filters_container .price_range .ui-slider .ui-slider-handle{ top:-7px !important;}
	
.filters_container.designer .price{ width:194px;}
	.filters_container.designer .price fieldset{ width:194px;}
	.filters_container.designer .price fieldset input{ width:174px;}
	.filters_container.designer .price ul{width:194px;}

.filters_container.designer .prod_type{ width:180px;}
	.filters_container.designer .prod_type fieldset{ width:180px;}
	.filters_container.designer .prod_type fieldset input{ width:160px;}

.filters_container.designer .style{ width:184px;}
	.filters_container.designer .style fieldset{ width:184px;}
	.filters_container.designer .style fieldset input{ width:164px;}
.filters_container.designer .clear_filters{ width:54px;}