.spotlights
  .large-4.columns
    = link_to recent_products_path, class: 'spots one' do
      %h1 Shop
      %span.spot_link The Latest Indie Fashion
  .large-4.columns
    = link_to stores_path, class: 'spots two' do
      %h1 Stores
      %span.spot_link View All Designers
  .large-4.columns
    = link_to sell_path, class: 'spots three' do
      %h1 Sell
      %span.spot_link Create your fashion Store